/* =========================================================
   CSS RESET (современный)
========================================================= */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button,
[role="button"] {
  cursor: pointer;
}

:focus {
  outline: none;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* =========================================================
   GLOBAL / FONTS / BASE STYLES
========================================================= */
html,
body,
#__next {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #111;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  /* background: #fff url("/images/maket.png") 0 0 / cover no-repeat; */
}

.blue_text {
  color: #3e9cdc;
}

h1 {
  font-family: var(--font-lato), sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #fff;
  line-height: 1.38;
  text-transform: uppercase;
  text-align: center;
}

p,
div {
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #bbbbbb;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* =========================================================
   LAYOUT STRUCTURE
========================================================= */
#main {
  overflow: hidden;
  /* opacity: 0.2; */
}
main {
  width: 100%;
  max-width: 1920px;
  min-height: 915px;
  margin: 0 auto;
  position: relative;
  background-color: #272733;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/images/bg.png") center / cover no-repeat;
  /* opacity: 0.1; */
  z-index: 0;
}

#main_wrapper {
  max-width: 1172px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

/* =========================================================
   INTERACTIONS / HOVERS
========================================================= */
.header_slider_content_buttons button:hover,
button:hover {
  transition: all 0.2s;
  background-color: #444;
}
