#logo_text {
  color: #fff;
  font-family: var(--font-raleway), sans-serif;
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
}
@media (max-width: 1919px) {
  #logo_text {
    font-size: 22px;
  }
}
